*, *:before, *:after {
  box-sizing: border-box;
}

// body {
//   margin: 0;
//   padding: 0;
//   color: rgba(0,0,0,.87);
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//   overflow: hidden;
//   // font-size: 0;
// }

// .page-container {
//   margin-top: 56px;
//   padding-left: 280px;

// }

// .page-content,
// .xen-page-content {
//   padding: 16px;
//   overflow-y: auto;
//   height: 100vh;
//   height: calc(100vh - 56px);
// }

// .page-tab-content {
//   padding: 16px;
//   overflow-y: auto;
//   // height: 100vh;
//   // height: calc(100vh - 96px);
// }

body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  // overflow: hidden;
  font-size: 14px;
  background-color: #fafafa;
  // height: calc(100vh - 56px);
}

.page-container {
  margin-top: 56px;
  padding-left: 280px;

}

.page-content,
.xen-page-content {
  padding: 16px;
  // overflow-y: auto;
  // height: 100vh;
  // height: calc(100vh - 56px);
}

.page-tab-content {
  padding: 16px;
  overflow-y: auto;
  // height: 100vh;
  // height: calc(100vh - 96px);
}
.dndhub-tab-content {
  padding: 16px;
  overflow-y: auto;
  @media only screen and (max-width: $small-breakpoint) {
    padding: 0px;
  }
}

pre[class*=language-],
code {
  margin: 0;

}
code[class*=language-],
pre[class*=language-] {
  white-space: pre-wrap;
  background-color: #fafafa;
  font-family: 'Roboto Mono';
  font-size: 14px;
}
.xen-no-margin {
  margin: 0;
}

.xen-page-title {
  padding-left: 0;
}

.xen-icon-button-container.xen-menu-button {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
}

.xen-vertical-align-middle {
  vertical-align: middle;
  
}

@media only screen and (max-width: $small-breakpoint) {
  .xen-page-title {
    padding-left: 40px;
  }
}

[v-cloak] .v-cloak--hidden{
  display: none;
}

.hidden {
  display: none;
}

.xen-page-tabs { 
  > .xen-tab-items-container {
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  > .xen-tab-content {
    padding-top: 40px;
  }
}

.xen-no-margin {
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.row .xen-input-container {
  // margin-bottom: 0;
}

.show-overflow {
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}

.margin-bottom {
  margin: 0 0 8px 0;
  &:first-child {
    margin-top: 0;
  }
}

.dndhub-title {
  padding: 0 8px;
}

.card-last {

  &.xen-input-container {
    margin-bottom: -8px;
  }
}

.disable-scroll {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;
}

// ::-webkit-scrollbar {
//     width: 15px;
//     height: 15px;
//     border-bottom: 1px solid #eee; 
//     border-top: 1px solid #eee;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 8px;
//     background-color: #C3C3C3;
//     border: 2px solid #eee;
// }

// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
// } 

@media screen and (max-width: 1024px) {
  body {
    z-index: 0 !important;
    overflow: scroll !important;
  }
}